@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Error>

@{
    Layout = "Master.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Error Page Header</h1>

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Error</li>
        </ol>
        
        <div>
            <p>Error page...</p>
        </div>
        
    </div>
</main>