@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Home>

@{
    Layout = "Master.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">@(!string.IsNullOrWhiteSpace(Model.Title) ? Model.Title : Model.Name)</h1>
        @*<h1 class="mt-4">Test test</h1>*@

        <!-- Breadcrumb -->
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        
        <div>
            @if (!string.IsNullOrEmpty(Model.Text.ToString()))
            {
                <p>@Model.Text</p>
            }

        </div>
        

        @*@Html.Partial("~/Views/Partials/Content.cshtml")*@
    </div>
</main>